body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #2f2f2f;
    color: white;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #3a3a3a;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.inputs-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 80px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.label {
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #6a0dad;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #5a0ba1;
}

#resultado {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
